<!doctype html>
<html>
<head>
    <title>Game</title>

    <link href="css/main.css" rel="stylesheet" />
    <link href="css/game.css" rel="stylesheet" />
</head>

<body>
    <div id="nav">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/math">Math</a></li>
        </ul>
    </div>
    <div id="game">
        <canvas id="game_board"></canvas>
        <p>Use left and right key to move box, up key to make it jump</p>
    </div>

    <script src="scripts/game_script.js"></script>
</body>
</html>