<!doctype html>
<html>
<head>
    <title>Math</title>

    <link href="css/main.css" rel="stylesheet" />
    <link href="css/button.css" rel="stylesheet" />
</head>

<body>
    <div id="nav">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/game">Game</a></li>
        </ul>
    </div>
    <div id="math">
        <h2>Math</h2>
        <form id="contact_form" method="post" action="contact/send">
            <p><strong>Username:</strong> <input type="text" name='username' placeholder="your username" /></p>
            <p><input type="submit" value="Click me!" /></p>
        </form>
    </div>

    <div class="widget_box">
        <a class="widget_button">Press</a>
    </div>

    <script src="scripts/math_script.js"></script>
</body>
</html>