<!doctype html>
<html>
<head>
    <title>Math</title>

    <link href="css/main.css" rel="stylesheet" />
    <link href="css/math.css" rel="stylesheet" />
    <link href="css/button.css" rel="stylesheet" />
</head>

<body>
    <div id="nav">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/math">Math</a></li>
            <li><a href="/game">Game</a></li>
        </ul>
    </div>

    <div id="main">
        <label for="mathStr">Enter a string math:</label>
        <input type="text" id="mathStr" name="mathStr">
        <button id="btn">
            Calculate
        </button>
        <span class="answer"></span>
    </div>

    <script src="scripts/math_script.js"></script>
</body>
</html>