<!doctype html>
<html>

<head>
    <title>Webpage</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="css/main.css" rel="stylesheet" />
    <link href="css/button.css" rel="stylesheet" />

</head>

<body>
    <div id="nav">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/math">Math</a></li>
            <li><a href="/game">Game</a></li>
        </ul>
    </div>

    <div id="main_content">
        <div id="d_count">Current Request Count: <%= req_count %></div>
    </div>

</body>

</html>