body {
    margin: 0;
    padding: 0;
    background-color: chartreuse;
}

p {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

#nav {
    background-color: blueviolet;
    height: 50px;
    position: relative;
    bottom: 17px;
}

ul.menu {
    padding-top: 5px;
    padding-left: 17%;
}

#nav>ul.menu>li {
    float: left;
    list-style: outside none;
    margin-left: 110px;
}

ul.menu>li>a {
    font-size: 2em;
    color: #ff3300;
    text-decoration: none;
}

ul.menu>li>a:hover {
    color: #990000;
}

#main_content {
    height: 1000px;
    position: relative;
    bottom: 17px;
    padding: 20px 20px 20px 275px;
}

.d_count {
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:2em;
    text-align:left;
    font-family:courier new, courier, monospace;
    line-height:1;
    margin-bottom: 20px;
}

p.para_info {
    color: #5A2D81;
    font-size: 1.5em;
    padding-bottom: 10px;
}

p.para_info > span {
    font-weight: bold;
}

p.favorite {
    margin-top: 5px;
    color: #0008ff;
    font-size: 1.5em;
    padding-bottom: 5px;
}

p.least {
    color: #C8102E;
    font-size: 1.5em;
    padding-bottom: 5px;
}

ul.fav_js > li {
    font-size: 1.4em;
}

ul.lst_js > li {
    font-size: 1.4em;
}


